Requirements
=================

For full usage of the program the following Python libraries must be installed on the system:

* sympy
* matplotlib
* seaborn
* pandas

Python version 3.6 or higher is required for correctness of all functionalities.
(Furthermore the GNU GCC Compiler must be installed on the system.)